<p>
  <b>Name1:</b>
  <%=h @resource.name1 %>
</p>

<p>
  <b>Name2:</b>
  <%=h @resource.name2 %>
</p>

<p>
  <b>Name3:</b>
  <%=h @resource.name3 %>
</p>

<p>
  <b>Name4:</b>
  <%=h @resource.name4 %>
</p>


<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
